################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Taxi24RestAPI/bin
/Taxi24RestAPI/obj
